@charset "utf-8";

body {
    background:#0E1017;
}

.reset-password-email {
    color: #ddd;
}

.reset-password-email > .divider-text {
    font-size:20px;
    padding:5px 20px 30px;
}

.reset-password-email > form {
    padding-bottom:20px;
}

.reset-password-email > form > div {
    /*이메일*/
    width:400px;
    /* height:40px; */
    margin:0px auto;
}

.reset-password-email > form > .reset-pw-btn-box {
    /*메일전송 버튼*/
    padding-top:25px;
}

.reset-password-email > .warning {
    font-size:14px;
    padding-bottom:20px;
}

.reset-password-email > .warning > span {
    font-weight:600;
    color:rgb(255, 94, 0);
}

footer {
    position:fixed;
    bottom:0;
}

@media screen and (max-width:1000px) {

    .reset-password-email {
        width:95%;
        margin:100px auto 50px;
        /* height:auto; */
    }

    .reset-password-email > form > div {
        width:95%;
    }

    .reset-password-email > form > div > input {
        width:90%;
    }

    footer {
        position:static;
    }

}