@charset "utf-8";

body {
    background:#0E1017;
}

.verify-register-box {
    color: #ddd;
}

.verify-register-box > div:nth-child(2) > i {
    /*메일 아이콘*/
    font-size:90px;
    margin-bottom:20px;
}

.verify-register-box > div:nth-child(3) {
    /*메일 발송 문구*/
    font-weight:600;
    font-size:20px;
    margin-bottom:20px;
}

.verify-register-box > div:nth-child(4) {
    /*메일 확인 문구*/
    margin:0 auto;
    /* width:450px; */
    height:45px;
    text-align:center;
    font-size:15px;
}

.verify-register-box > div:nth-child(4) > span {
    color:#0074bd;
    font-weight:600;
}

.verify-register-box > div:nth-child(5) {
    padding-bottom:20px;
}

.verify-register-box > div:nth-child(5) > form > input {
    margin-right:10px;
    width: 300px;
}

.verify-register-box > div:nth-child(5) > form > button {
    width: 120px;
    height: 32px;
}

.verify-register-box > ul {
    /*인증메일 안내*/
    width:510px;
    margin:0 auto;
    text-align:left;
    font-size:14px;
    padding:5px 0 20px;
}

.verify-register-box > ul li {
    margin:7px 0;
}

.verify-register-box > ul button {
    /*인증메일 재발송*/
    font-size:12px;
    width:110px;
    height:25px;
    border-radius:5px;
    line-height:25px;
    margin-left:10px;
}

.verify-register-box > ul i {
    margin-left:5px;
}

/*인증번호 재발송 팝업*/
.resent-popup {
    display:none;
}

.popup-bg {
    background:rgba(0,0,0,0.5);
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:3500;
}

.popup-content {
    position:absolute;
    top:300px;
    left:50%;
    margin-left:-230px;
    width:450px;
    height:260px;
    background:#fff;
    border-radius:5px;
    text-align:center;
    z-index:4000;
}

.popup-content i {
    display:block;
    font-size:70px;
    padding:40px 0 20px;
    /* color:#555; */
    color:#0074bd;
}

.popup-content div {
    padding-bottom:30px;
}

footer {
    position:fixed;
    bottom:0;
}

@media screen and (max-width:1000px) {

    .verify-register-box {
        width:95%;
        margin:100px auto 50px;
        height:auto;
    }

    .verify-register-box > div:nth-child(1) {
        margin:30px auto 20px;
    }

    .verify-register-box > div:nth-child(4) {
        width:80%;
        height:auto;
        padding-bottom:30px;
    }

    .verify-register-box > div:nth-child(5) {
        width:90%;
        margin:0 auto;
    }

    .verify-register-box > div:nth-child(5) > form > input {
        width:55%;
    }

    .verify-register-box > ul:nth-child(7) {
        width:90%;
        padding-bottom:20px;
    }

    .popup-content {
        top:50%;
        width:90%;
        margin-left:0;
        transform:translate(-50%,-50%);
    }

    footer {
        position:static;
    }
    
}