@charset "utf-8";

header {
    height: 110px;
}

.header__section1 {
    height: 60px;
    position: relative;
}

.header__logo {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.header__call {
    position: absolute;
    top:50%;
    right:0;
    transform:translateY(-50%);
}

.header__call > span {
    font-size:20px;
    color:#2D81D5;
    font-weight:600;
}

.header__section2 {
    height:50px;
}

.header__section2 > #gnb {
    display:flex;
}

.header__section2 > #gnb > li > a {
    display:block;
    line-height:50px;
    padding-right:70px;
    font-weight:500;
}

.header__section2 > #gnb > li > a:hover {
    color: #206fbe;
}

#section1 {
    height: 350px;
    background: #2D81D5;
    color: #fff;
}

#section1 > .wrapper {
    position: relative;
    height: 100%;
}

.section1__text {
    position: absolute;

}

.section1__text1 {
    top: 55px;
    font-size: 20px;
}

.section1__text2 {
    top: 80px;
    font-size: 32px;
    font-weight:600;
}

.section1__text2 > span {
    color:#FFE600;
}

.section1__text3 {
    top: 150px;
    font-weight: 300;
}

.section1__text3 > span {
    margin-right: 30px;
}

.section1__text3 > span > img {
    vertical-align: middle;
    margin-right: 5px;
}

.section1__text3 > span > span {
    font-weight: 500;
}

.section1__form {
    top: 250px;
}

.section1__inputText {
    margin-bottom:5px;
}

.section1__inputText > label {
    margin-right: 10px;
}

.section1__inputText > input {
    width: 150px;
    height: 25px;
    border: 0;
    margin-right: 10px;
    text-indent: 5px;
}

.section1__inputText > button {
    width: 90px;
    height: 33px;
    background: #fff;
    border: 0;
    border-radius: 5px;
    color: #2D81D5;
    font-weight: 800;
    font-size: 16px;
    cursor: pointer;
    vertical-align: middle;
    outline: 0;
}

.section1__checkbox > input {
    border: 0;
    vertical-align: middle;
}

.section1__checkbox > label {
    font-size: 14px;
}

.section1__checkbox > label > .agreeBtn {
    cursor: pointer;
}

.section1__img {
    position: absolute;
    right: 0;
    bottom: 0px;
    width: 500px;
}

.section1__img > img {
    width: 100%;
}

#section2 {
    height: 520px;
}

.sliderWrapper {
    overflow: hidden;
}

.sliderBox {
    width: 2040px;
    display: flex;
    position: relative;
    left: 0;
}

.slider {
    display: flex;
    margin: 40px auto;
}

.section2__card {
    width: 310px;
    height: 400px;
    background: #DBEDFF;
    margin-right: 40px;
    text-align: center;
    border-radius: 5px;
}

.section2__card:nth-child(3) {
    margin-right: 0;
}

.section2__card > h3 {
    text-align: center;
    font-size: 20px;
    padding: 30px 0 10px;
}

.section2__img {
    height: 130px;
    padding-bottom: 10px;
}

.section2__img > img {
    height: 100%;
    margin: 0 auto;
}

.section2__textbox {
    width: 240px;
    margin: 0 auto 20px;
    font-size: 14px;
    text-align: left;
}

.section2__text {
    line-height: 24px;
}

.section2__text > span:nth-child(1) {
    display:inline-block;
    width: 70px;
    font-weight: 600;
}

.section2__text--second > span:nth-child(1) {
    height: 35px;
    vertical-align: top;
}

.section2__text--second > span:nth-child(2) {
    display: inline-block;
}

.section2__button {
    width: 250px;
    height: 45px;
    background: #236FBB;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    outline: 0;
    cursor: pointer;
}

.slide-btn {
    position: absolute;
    top: 200px;
    cursor: pointer;
}

.left-btn {
    left: -50px;
    display: none;
}

.right-btn {
    right: -50px;
}


footer {
    height: 330px;
    background: #f5f5f5;
}

footer > .wrapper > ul {
    display: flex;
    padding: 20px 0 15px;
}

footer > .wrapper > ul > li > a {
    display: block;
    padding: 5px 15px 5px 0;
    font-size: 14px;
    font-weight: 500;
}

.footer__text {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 22px;
    color: #666;
}

.footer__text > span {
    font-weight: 600;
    color: #444;
}

.footer__text > button {
    outline: 0;
    border: 0;
    cursor: pointer;
    width: 105px;
    height: 20px;
    border-radius: 5px;
    background: #888;
    color: #fff;
    font-size: 11px;
    margin-left: 5px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.popup__bg {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}

.popup__contentBg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 620px;
    background: #eee;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 5px;
}

.popup__contentBg > h3 {
    padding-bottom: 10px;
}

.popup__content {
    background: #fff;
    height: 500px;
    overflow: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 5px;
    font-size: 14px;
}

.popup__content > p {
    padding: 5px 0;
}

.popup__contentBg > .close {
    position: absolute;
    bottom: 15px;
    right: 30px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}