@charset "utf-8";

.mobile-wrapper {
    padding: 0 20px;
    height: 100%;
}



/*헤더*/

header {
    width: 100%;
    height: 50px;
    background: #fff;
    position: relative;
    box-sizing: border-box;
}

.header__logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}

.header__call {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    font-size: 14px;
}

.header__call > span {
    font-size: 16px;
    color: #2D81D5;
}



/*네비게이션*/

nav {
    height: 74px;
}

#gnb {
    width: 100%;
}

#gnb > li {
    float: left;
    width: 33.3%;
}

#gnb a {
    display: block;
    width: 100%;
    height: 37px;
    line-height: 37px;
    background: #F5F5F5;
    border: 1px solid #DDDDDD;
    font-size: 14px;
    color: #777;
    text-align: center;
    box-sizing: border-box;
}

#gnb a.active {
    background: #DDDDDD;
    color: #333333;
    font-weight: 600;
}



/*section1 - 메인*/

#sub-section1 {
    height: 240px;
    background: #EDF6FF;
    position: relative;
}

.sub-section1__imgBox {
    position: absolute;
    width: 150px;
    bottom: 35px;
    right: 20px;
}

.sub-section1__imgBox > img {
    width: 100%;
}

.sub-section1__textBox {
    position: absolute;
}

.sub-section1__textBox1 {
    top: 35px;
    font-size: 24px;
    font-weight: 800;
    line-height: 30px;
}

.sub-section1__textBox1 > span {
    color: #2D81D5;
}

.sub-section1__textBox2 {
    top: 110px;
}

.sub-section1__textBox2 > div {
    font-size: 14px;
    color: #2F567D;
    padding: 2px 0;
    font-weight: 300;
}

.sub-section1__textBox2 > div > span {
    font-weight: 500;
}

.sub-section1__textBox2 > div > img {
    vertical-align: middle;
    margin-right: 3px;
    width: 10px;
}



/*section2 - 상담신청*/

#sub-section2 {
    width: 100%;
    height: 135px;
    background: #2D81D5;
    padding: 10px 0;
    box-sizing: border-box;
    color: #fff;
    position: relative;
}

#sub-section2 > .mobile-wrapper > div:nth-child(1) {
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 10px;
}

.sub-section2__form {
    display: flex;
}

.sub-section2__inputBox {
    width: 75%;
    margin-bottom: 5px;
}

.sub-section2__input {
    width: 100%;
    margin-bottom: 3px;
}

.sub-section2__input > label {
    display: inline-block;
    width: 20%;
    font-size: 12px;
    font-weight: 500;
}

.sub-section2__input > input {
    width: 70%;
    height: 25px;
    border: 0;
    background: #EAF2FB;
    text-indent: 5px;
}

.sub-section2__buttonBox {
    position: absolute;
    top: 40px;
    right: 20px;
    width: 25%;
}

.sub-section2__button {
    border: 0;
    outline: 0;
    width: 100%;
    height: 55px;
    background: #fff;
    border-radius: 5px;
    font-size: 13px;
    color: #2D81D5;
    font-weight: 600;
}

.sub-section2__form2 {
    height: 25px;
}

.sub-section2__form2 > input {
    width: 12px;
    height: 12px;
    margin-right: 3px;
    position: relative;
    top: 3px;
}

.sub-section2__form2 > label {
    font-size: 11px;
}



/*section3 - 대출 정보*/

#sub-section3 {
    width: 100%;
    background: #f8f8f8;
    padding: 25px 10px;
    box-sizing: border-box;
}

.subMobile__h4 {
    font-size: 14px;
    color: #2D81D5;
    font-weight: 500;
}

.subMobile__h3 {
    font-size: 18px;
    color: #333;
    padding-bottom: 10px;
}

#sub-section3 > .subMobile__h3,
#sub-section3 > .subMobile__h4,
#sub-section4 > .subMobile__h3 {
    margin-left: 10px;
}

.subMobile__contentBox {
    width: 100%;
    background: #fff;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
    padding: 5px 0;
}

.sub-section3__contentBox--row {
    display: flex;
    padding: 10px;
    width: 95%;
    margin:0 auto;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}

.sub-section3__contentBox--row:last-child {
    border-bottom: 0;
}

.sub-section3__contentBox--row > div:nth-child(1) {
    width: 25%;
    color: #555;
    font-weight: 500;
}

.sub-section3__contentBox--row > div:nth-child(2) {
    width: 75%;
    color: #777;
}

.sub-section3__contentBox--row > div:nth-child(2) > span {
    color: #2D81D5;
}



/*section4 - 월별 상환금액 예시*/

#sub-section4 {
    width: 100%;
    background: #f8f8f8;
    padding: 0px 10px 30px;
    box-sizing: border-box;
}

.sub-section4__imgBox {
    width: 100%;
    margin-bottom: 10px;
}

.sub-section4__imgBox > img {
    width: 100%;
}

.sub-section4__contentBox--row {
    display: flex;
    padding: 0 20px;
}

.sub-section4__contentBox--col {
    display: flex;
    width: 100%;
}

.sub-section4__contentBox--col > div {
    font-size: 14px;
    padding: 2px 0;
}

.sub-section4__contentBox--col > div:nth-child(1) {
    width: 40%;
}

.sub-section4__contentBox--col > div:nth-child(2) {
    width: 60%;
    color: #555;
}

.sub-section4__contentBox--col > div:nth-child(2) > span {
    color: #2D81D5;
}



/*section5 - 대출진행 절차*/

#sub-section5 {
    width: 100%;
    background: #EDF6FF;
    padding: 20px 0;
    box-sizing: border-box;
}

.sub-section5__contentBox {
    display: flex;
    width: 100%;
    margin-bottom: 7px;
}

.sub-section5__contentBox > div:nth-child(1) {
    width: 20%;
    height: 50px;
    border-radius: 5px 0 0 5px;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    line-height: 50px;
}

.sub-section5__contentBox > div:nth-child(2) {
    width: 80%;
    height: 50px;
    border-radius: 0 5px 5px 0;
    background: #fff;
    font-size: 13px;
    line-height: 50px;
    text-indent: 20px;
    font-weight: 500;
}

.sub-section5__contentBox:nth-of-type(1) > div:nth-child(1) {
    background: #7DB8F2;
}

.sub-section5__contentBox:nth-of-type(2) > div:nth-child(1) {
    background: #549CE4;
}

.sub-section5__contentBox:nth-of-type(3) > div:nth-child(1) {
    background: #2D81D5;
}

.sub-section5__contentBox:nth-of-type(4) > div:nth-child(1) {
    background: #2073C7;
}

.sub-section5__contentBox:nth-of-type(5) > div:nth-child(1) {
    background: #1966B4;
}


/*footer*/

footer {
    background: #f5f5f5;
    padding: 20px 0;
}

.footer__policy {
    display: flex;
    padding-bottom: 10px;
}

.footer__policy a {
    display: block;
    padding-right: 10px;
    font-size: 13px;
}

.footer__text {
    font-size: 13px;
    color: #555;
    padding-bottom: 10px;
}

.footer__text > span {
    font-weight: 600;
}



/*팝업*/

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.popup__bg {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}

.popup__contentBg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 70%;
    background: #eee;
    padding: 15px 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.popup__contentBg > h3 {
    padding-bottom: 5px;
    font-size: 14px;
}

.popup__content {
    background: #fff;
    height: 90%;
    overflow: auto;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 5px;
    font-size: 12px;
}

.popup__content > p {
    padding: 5px 0;
}

.popup__contentBg > .close {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
}