@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Lobster');
/*reset*/

* {
  margin:0;
  padding:0;
}

ul,li {
  list-style:none;
}

a {
  text-decoration:none;
  color:#333;
}

img {
  vertical-align:top;
  border:0;
}

#content1 {
  width:100%; /**/
  height:300px;
  position:relative;
  overflow:hidden; /*drag_wrap이 더 클거기때문에 가려줘야지*/
}

#content1 > .drag_wrap {
  width:150%;
  height:100%; /*#content1의 높이(300px)가 있어서 100%로 꽉차게 하는 퍼센트를 쓸 수 있어요 (부모요소의 높이)*/
  cursor:pointer;
  position:absolute;
  top:0;
  left:0;
}
#content1 > .drag_wrap:after {
  content:'';
  height:0;
  clear:both;
  display:block;
}
#content1 > .drag_wrap > div {
  width:20%;
  height:100%; /*300px*/
  float:left;
}
#content1 > .drag_wrap > div:nth-child(1) {
  background:#999;
}
#content1 > .drag_wrap > div:nth-child(2) {
  background:#888;
}
#content1 > .drag_wrap > div:nth-child(3) {
  background:#777;
}
#content1 > .drag_wrap > div:nth-child(4) {
  background:#666;
}
#content1 > .drag_wrap > div:nth-child(5) {
  background:#555;
}















/*  */
